<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.episcopalrelief.android.anniversary75th" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".GridActivity"
            android:label="75th Anniversary"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".DetailsActivity"
            android:label="Gallery Tour"
            android:screenOrientation="landscape" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
        </activity>
        <activity
            android:name=".SplashScreenActivity"
            android:label="@string/title_activity_splash_screen"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
